/* Base Theme Changes */

$custom-base-font:				Georgia, "Times New Roman", Times, serif;
$custom-color-body: 			#0288D1;
$custom-font-color: 			#333333;
$font-color-menu: 				#FAFAFA;
$light-background: 				#F2F2F2;
$header-background:				#000000;
$header-menu-background:		#ffcc66;

//modularscale
$ms-base:           			1em, .58em;
$ms-ratio:          			1.5;

//responsive measures
$desktop:						1025px;
$tablet:						768px;
$handheld:						568px;
$mobile:						320px;