/* Mobile layout */

@media (min-width: $mobile) {
	.site-footer .woocommerce-reference {
		margin-bottom: ms(1);
	}	
}

/* Tablet, desktop */
@media (min-width: $tablet) {
	.site-footer .woocommerce-reference {
		margin-bottom: 0;
	}
	.hentry.type-post .entry-content {
		float: left;
		width: 100%;
	}	
}

/*  Mobile and portrait tablet layout */
@media only screen and (max-width: $tablet) {
	.site-header {		

		.site-title{
			display: none;
		}
		.site-branding {
			margin-bottom: 10px;
			.heading-title {
				font-size: 20px;				
			}
			img {
				max-width: 30%;
			}
		}
		.site-title-sm {
			display: inline-block;
			float: right;
			h1 {
				font-size: 23px;
				text-align: center;
				line-height: 20px;	
				span {
					display: block;
				}
			}						
		}

		.storefront-primary-navigation {
			background-color: rgba(0, 0, 0, 0);
						
			.menu {
				background-color: #dfdfdf;
			}
		}
		.main-navigation {			
			>.menu ul>li>a{
				margin-left: 5px;
			}
		}		

		button.menu-toggle {
			clear: right;
		}
	}		
}

/* Desktop layout*/
@media only screen and (min-width: $tablet) {
	.site-header {
		.site-title-sm {
			display: none;
		}
	}
	.woocommerce-active .site-header .main-navigation {
		width: 100%;
	}
}

