/* Base Theme Changes */

$custom-base-font:				Georgia, "Times New Roman", Times, serif;
$custom-color-body: 			#0288D1;
$custom-font-color: 			#333333;
$font-color-menu: 				#FAFAFA;
$light-background: 				#F2F2F2;
$header-background:				#003366;
$header-menu-background:		#dfdfdf;

//bootstrap
$desktop:						1025px;
$tablet:						768px;
//<
$mobile_portrait:				544px;